@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');


:root {
    --background-color: rgb(18, 18, 18);
    --primary-text-color: rgb(255, 255, 255);
    --secomdary-text-color: rgb(128, 128, 128);
    --border-color: rgb(41, 41, 41);
    --hover-yellow: rgba(252, 163, 17, 1);
    --hover-primary: rgb(25, 25, 25);
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-28: 28px;
    --font-size-40: 40px;
    --font-weight-100: 100;
    --font-weight-200: 200;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;

}


body {
    background-color: var(--background-color);
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
}


/* navbar css start */
.side-navbar {
    z-index: 999;
    width: 240px;
    height: 100vh;
    border: none;
    border-right: 1px solid var(--border-color);
    background-color: var(--background-color);
}


.side-navbar-name-jobtitle-wrap {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid var(--border-color);
}


.side-navbar-name-jobtitle-wrap h5,
p {
    margin: 0;
    padding: 0;
}

.side-navbar-name {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    color: var(--primary-text-color);
    transition: color ease-in;
    cursor: pointer;
}

.side-navbar-name:hover {
    color: var(--hover-yellow);
}

.side-navbar-jobtitle {
    cursor: pointer;
    color: var(--secomdary-text-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
}

.navbar-btn {
    display: none;
}

.side-navbar-item {
    padding: 20px 32px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--secomdary-text-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    transition: all .4s ease-in-out;
    background-color: var(--background-color);
}

.side-navbar-item:hover {
    background-color: var(--hover-primary);
    color: var(--primary-text-color);
}

.navbar-btn-icon-rotate-45 {
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
}

.navbar-btn-icon-rotate-0 {
    transform: rotate(0);
    transition: transform .3s ease-in-out;
}

@media screen and (max-width:1200px) {

    .side-navbar {
        width: 100%;
        height: 60px;
        border: none;
        border-bottom: 1px solid var(--border-color);
        background-color: var(--background-color);

    }

    .side-navbar-jobtitle {
        display: none;
    }

    .side-navbar-name-jobtitle-wrap {
        border: none;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 60px;
        z-index: 998;
        background-color: var(--background-color);
        border-bottom: 1px solid var(--border-color);
    }

    .side-navbar-items {
        transform: translateY(-170%);
        transition: transform .4s ease-in-out;
        z-index: 997;

    }

    .navbar-btn {
        display: block;
        color: var(--primary-text-color);

    }

    #check:checked~.side-navbar-items {
        transform: translateY(0);
    }

}

/* navbar css end */

/* main start */
.main-content {
    margin-left: 240px;
}

@media screen and (max-width:1200px) {
    .main-content {
        margin-left: 0;
        margin-top: 60px;
    }
}

/* main end */

/* section code start here */
.section-wrap {
    border-bottom: 1px solid var(--border-color);
}

.section-container {
    width: 1400px;
}

.section-title-wrap {
    margin-bottom: 50px;
}

.section-title {
    font-size: var(--font-size-28);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-400);
}

/* section code end here */





/* card code start here */
.card {
    background-color: transparent;
    color: var(--primary-text-color);
    border-radius: 8px;
    cursor: pointer;
}

.card-img-top-wrap {
    overflow: hidden;
    border-radius: inherit;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

.card:hover .card-body .card-text {
    color: var(--hover-yellow);
}

.card-img-top {
    border-radius: inherit;
    height: 300px;
    object-fit: cover;
    transition: all .3s ease-in-out;
    width: 100%;
}

.card-body {
    margin-top: 15px;
    padding: 0;
}

.card-title {
    font-size: var(--font-size-12);
    color: var(--secomdary-text-color);
    font-weight: var(--font-weight-500);
}

.card-text {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    transition: all .3s ease-in-out;
    color: var(--primary-text-color);
}

.card-text-sub {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
    color: var(--secomdary-text-color);
}

/* card code end here */
/* card 2 code start here */
.card-2 {
    display: flex;
    border-radius: 8px;
    gap: 25px;
    cursor: pointer;
}

.card-2-img-wrap {
    width: 240px;
    height: 160px;
    border-radius: inherit;
    overflow: hidden;
}

.card-2-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    transition: all .3s ease-in-out;
}

.card-2:hover .card-2-img {
    transform: scale(1.1);
}

.card-2:hover .card-body .card-text {
    color: var(--hover-yellow);
}

@media screen and (max-width:990px) {
    .card-2 {
        flex-direction: column;
    }

    .card-2-img-wrap {
        width: 100%;
        height: 300px;
    }
}

/* card 2 code end here */
/* custom button code start here */
.custom-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    text-decoration: none;
    max-width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    border-radius: 4px;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.custom-btn-text-wrap {
    position: relative;
    transition: all .4s ease-in-out;
}

.second-text {
    position: absolute;
    top: 50px;
    text-wrap: nowrap;
    left: 0;
}

.custom-btn:hover .custom-btn-text-wrap {
    transform: translateY(-50px);
}

.custom-btn:hover {
    background-color: var(--hover-primary);
    color: var(--primary-text-color);
}

/* custom button code end here */