@import url(./common.css);



.about-section-wrap {
    border-bottom: 1px solid var(--border-color);
}

.about-section-container {
    width: 1400px;
    gap: 40px;
}

.open-to-work-btn {
    background-color: rgba(18, 253, 127, 0.04);
    border-radius: 4px;
    color: rgb(3, 226, 107);
    padding: 8px 16px;
    transition: all .3s ease-in;
    height: min-content;
}

.open-to-work-btn:hover {
    background-color: rgba(18, 253, 128, 0.068);
    color: rgb(3, 226, 107);
}

.social-item {
    width: 48px;
    height: 48px;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secomdary-text-color);
    border-radius: 4px;
    transition: all .4s ease-in-out;
}

.social-item:hover {
    background-color: var(--hover-primary);
    color: var(--primary-text-color);
}

.about-section-content {
    max-width: 800px;
}

.about-section-heading {
    font-size: var(--font-size-40);
    color: var(--primary-text-color);
    font-weight: var(--font-weight-400);
}

.about-section-description {
    color: var(--secomdary-text-color);
    font-weight: var(--font-weight-300);
    font-size: var(--font-size-18);

}

.tool-container {
    padding: 13px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    gap: 15px;
    align-items: center;
    transition: all .4s ease-in-out;
}

.tool-container:hover {
    background-color: var(--hover-primary);
}

.tool-img img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}
.tool-title{
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-400);
    color: var(--primary-text-color);
}
.tool-text{
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-300);
    color: var(--secomdary-text-color);
}

@media screen and (max-width:1200px) {
    .about-section-heading {
        font-size: 32px;
    }
}